
:root{
--azul: #11A8AA; 
--laranja: #F58538; 
--verde: #A6CE39; 
}

*{
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  padding: 0;
  overflow-x: hidden; 
}

/* Cabeçalho */

header {
  background: rgb(206, 235, 235);
  padding: 0 10px;
}

.nav-menu {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: rgb(88, 88, 88);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.active {
  color: #495057;
  background-color: #f1bb97c5;
  border-radius: 10px;
}

.nav-menu:hover, .nav-menu:focus {
  color: var(--laranja);
}

.btn-login, .btn-ajudar, .btn-salvar {
  background-color: var(--laranja);
  color: #FFF;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
  text-decoration: none;
}

.btn-login:hover, .btn-salvar:hover {
  text-decoration: none;
  color: #495057;
  background-color: transparent;
  border-color: var(--laranja); 
}

.btn-ajudar:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: var(--laranja); 
}

.btn-cadastro{
  background-color: var(--azul);
  color: #FFF;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
  text-decoration: none;
  margin-right: 10px;
}

.btn-cadastro:hover {
  text-decoration: none;
  color: #495057;
  background-color: transparent;
  border-color: var(--azul);
}

/*Carousel*/
.container-fluid {
  padding: 0;
}

#main-carousel .carousel-inner, #main-carousel .carousel-item {
  height: 90vh;
}

#main-carousel .carousel-caption {
  top: 30%;
}

#main-carousel .carousel-caption h3 {
  font-size: 50px;
  margin-bottom: 15px;
  color:rgb(206, 235, 235);
}

#main-carousel .carousel-caption p {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #FFF;
}

.main-btn {
  background-color: var(--laranja);
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
  text-decoration: none;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: var(--laranja);
}

.carousel-indicators .active {
  background-color: var(--laranja);
}

.img-carousel{
  background-size: cover;
  height:cover;
  width: 100%;
}

/*Porque adotar? e Agenda*/

#about-adotar {
  background-color: #d4ec94c2;
}

.about-title {
  font-size: 30px;
  color: var(--azul);
  text-transform: uppercase;
  font-weight: bold;
}

.img-pq-adotar{
  border-radius: 10px;
}

#about-adotar p{
  width: 70%;
  margin: 0 auto;
}

#about-agenda {
  background-color: #f7bc95b9;
}

/*Formas de ajudar*/

.background-tipo-ajuda{
  background-image: url(/img/pet6.jpg);
  background-size: cover;
  background-position: center;  
  color:#eff2f3;  
}

.padding-bg{
padding: 80px 0;
}

/* Footer */

footer {
  margin-top: auto;
  background-color: rgb(206, 235, 235);
  text-decoration: none;
  display: inline-block;
  width: 100%;
 }

footer a img{
  padding: 10px 0;
}

#footer-area {
  text-align: center;
  width: 100%;
}

.footer-box {
  padding: 10px 0;
  margin-bottom: 10px;
}

/*Página Contato*/

#formulario{
  background-color: #eff2f3;
  padding: 0 20px;
}

#formulario label{
  font-weight: bold;
  color: var(--azul);
}

.btn-formulario{
  background-color: var(--laranja);
  color: #FFF;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
  text-decoration: none;
}

.btn-formulario:hover {
  text-decoration: none;
  color: #495057;
  background-color: transparent;
  border-color: var(--laranja); 
}

#outros-contatos i{
  font-size: 30px;
  color: var(--azul);
}

#newsletter{
  background-color:#f7bc95b9 ;
}

.bg-form-news{
  background-color: #d4ec94c2;
}


/* Lojinha */

.carousel-produtos {
  object-fit: cover;
  height: 100px;
}

.nav-produtos {
  border: #f7bc95b9;
}

.imagem-carousel {
  object-fit: cover;
  height: 200px;
}

.imagem-promocao {
  object-fit: cover;
  height: 200px;
}

.promocao-txt-titulo {
  text-transform: uppercase;
  font-size: 50px;
  color: var(--azul);
}

.promocao {
  border-top: 2px  solid var(--laranja);
  border-bottom: 2px  solid var(--laranja);
}

.img-banner {
  object-fit: cover;
  height: 500px;
  width: 300px;
  object-position: 95% 0;
}

.card {
  width: 10rem;
  border-style: none;
}

.img-card {
  object-fit: cover;
  height: 100px;
  width: 120px;
}

.banner-destaque{
  background-size: cover;
}

.categorias-itens{
  background-color: #d4ec94c2;
}

#categorias a{
  text-decoration: none;
  color: black;
}

.list-group-item:hover{
  z-index: 1;
  text-decoration: none;
  background-color: var(--laranja);
  font-weight: bold;
}

.btn-loja {
  background-color: var(--verde);
  border-color: var(--verde);
  transition: .5s;
}
.btn-loja:hover {
  background-color: var(--laranja);
  border-color: var(--laranja);
}

/* Log In FORM */
#logreg-forms{
  width:412px;
  margin:80px auto;
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login{
  width:390px;
  margin:0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn{
  font-weight: 100;
  color:white;
  width:190px;
  font-size: 0.9rem;
}

#logreg-forms a{
  display: block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}

.dados-cadastrais {
border-bottom: 2px  solid var(--laranja);
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width:210px !important;
  margin: 0 auto;
}

/* Outros*/ 

@media screen and (max-width:500px){
  #logreg-forms{
      width:300px;
  }
  
  #logreg-forms  .social-login{
      width:200px;
      margin:0 auto;
      margin-bottom: 10px;
  }
  #logreg-forms  .social-btn{
      font-size: 1.3rem;
      font-weight: 100;
      color:white;
      width:200px;
      height: 56px;
      
  }
  #logreg-forms .social-btn:nth-child(1){
      margin-bottom: 5px;
  }
  #logreg-forms .social-btn span{
      display: none;
  }
  #logreg-forms  .facebook-btn:after{
      content:'Facebook';
  }

  #logreg-forms  .google-btn:after{
      content:'Google+';
  }
  
} 
.etiqueta {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #d4ec94c2;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
}

.titulo-adocao{
  color:var(--verde)
}

.nome-adocao{
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
}

.img-adocao{
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width:991px){
  .img-adocao{
      width:70%;
  }
  .nome-adocao{
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
  }
}
@media screen and (max-width:575px){
    .img-adocao{
        width:70%;
    }
    .nome-adocao{
      font-size: 20px;
      font-weight: bold;
      padding-top: 5px;
    }
}


.titulo-form-adocao{
  color:var(--azul);
  border-top: 2px solid var(--laranja);
  padding-top: 10px;
}

.text-form-adocao{
  color:var(--azul);
  font-weight: bold;
}