
:root{
--azul: #11A8AA; 
--laranja: #F58538; 
--verde: #A6CE39; 
}

*{
  margin: 0;
  padding: 0;
}

/* Cabeçalho */

header {
  background: rgb(206, 235, 235);
  padding: 0 10px;
  }

.nav-menu {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: rgb(88, 88, 88);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.active {
  color: #495057;
  background-color: #f1bb97c5;
  border-radius: 10px;
}

.nav-menu:hover, .nav-menu:focus {
  color: var(--laranja);
}

.btn-login, .btn-ajudar{
  background-color: var(--laranja);
  color: #FFF;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
  text-decoration: none;
}

.btn-login:hover {
  text-decoration: none;
  color: #495057;
  background-color: transparent;
  border-color: var(--laranja); 
}

.btn-ajudar:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: var(--laranja); 
}

.btn-cadastro{
  background-color: var(--azul);
  color: #FFF;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
  text-decoration: none;
  margin-right: 10px;
}

.btn-cadastro:hover {
  text-decoration: none;
  color: #495057;
  background-color: transparent;
  border-color: var(--azul);
}

/*Carousel*/
.container-fluid {
  padding: 0;
}

#main-carousel .carousel-inner, #main-carousel .carousel-item {
  height: 90vh;
}

#main-carousel .carousel-caption {
  top: 30%;
}

#main-carousel .carousel-caption h3 {
  font-size: 50px;
  margin-bottom: 15px;
  color:rgb(206, 235, 235);
}

#main-carousel .carousel-caption p {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #FFF;
}

.main-btn {
  background-color: var(--laranja);
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
  text-decoration: none;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: var(--laranja);
}

.carousel-indicators .active {
  background-color: var(--laranja);
}

.img-carousel{
  background-size: cover;
  height:cover;
  width: 100%;
}

/*Porque adotar? e Agenda*/

#about-adotar {
  background-color: #d4ec94c2;
}

.about-title {
  font-size: 30px;
  color: var(--azul);
  text-transform: uppercase;
  font-weight: bold;
}

.img-pq-adotar{
  border-radius: 10px;
}

#about-adotar p{
  width: 70%;
  margin: 0 auto;
}

#about-agenda {
  background-color: #f7bc95b9;
}

/*Formas de ajudar*/

.background-tipo-ajuda{
  background: url('/img/pet6.jpg');
  background-size: cover;
  background-position: center;  
  color:#eff2f3;  
}

.padding-bg{
padding: 80px 0;
}

/* Footer */

footer {
  margin-top: auto;
  background-color: rgb(206, 235, 235);
  text-decoration: none;
  display: inline-block;
  width: 100%;
 }

footer a img{
  padding: 10px 0;
}

#footer-area {
  text-align: center;
  width: 100%;
}

.footer-box {
  padding: 10px 0;
  margin-bottom: 10px;
}
